@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    --color-cardBg-darkDesaturatedBlue: hsl(244, 38%, 16%);
    --color-accent-softViolet: hsl(277, 64%, 61%);
    --color-mainHeadingStats-white: hsl(0, 0%, 100%);
    --color-mainPragraph-slightlyTransparent: hsla(0, 0%, 100%, 0.75);
    --color-statHeadings-slightlyTransparentWhite: hsla(0, 0%, 100%, 0.6);
    --color-mainBackground-veryDarkBlue: #1D183A;
}

* {
    font-size: 15px;
    box-sizing: border-box;
    margin: 0;

}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainBackground {
    max-width: 1440px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;

}

.organizer {
    max-width: 90%;
    margin: 0 auto;


}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cardBg-darkDesaturatedBlue);
    overflow: hidden;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;

}

.contentBox {
    max-width: 40%;
    max-height: 50%;
    margin: .2rem 4rem;
    padding-right: 6rem;

}

.contentBox h1 {
    color: var(--color-mainHeadingStats-white);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;

}

.contentBox .hilightWord {
    color: var(--color-accent-softViolet);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    /* margin: 0 0.5rem; */
}

.contentBox p.description {
    color: var(--color-mainPragraph-slightlyTransparent);
    font-family: 'Inter', sans-serif;
    margin: 2rem 0;
    line-height: 1.5;
}

.stats {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    overflow: scroll;
}

.stats h2 {
    color: var(--color-mainHeadingStats-white);
    font-family: 'Inter', sans-serif;
    font-size: 1.3rem;
}

.stats p {
    color: var(--color-statHeadings-slightlyTransparentWhite);
    font-family: 'Lexend Deca', sans-serif;
    text-transform: uppercase;
}

.companies,
.templates,
.queries {
    margin: 2rem 0;
}

.headerContainer {
    position: relative;
}

#heroImg {
    display: block;
    max-width: 100%;
}

#accentLayer {
    background-color: hsla(282, 61%, 57%, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.attribution {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--color-accent-softViolet);
    width: 100vw;
    color: var(--color-mainHeadingStats-white);
}

.attribution a {
    color: var(--color-mainPragraph-slightlyTransparent);
}

@media all and (max-width: 1439px) {
    * {
        padding: 0;
        margin: 0;
    }

    .mainBackground {
        width: 95%;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .organizer {
        height: 95%;
        max-width: 375px;
        overflow: scroll;
    }

    .container {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0;

    }
    .headerContainer img {
        display: block;
        max-height: 20rem;
    }

    .contentBox {
        max-width: 100%;
        text-align: center;
        margin: 2rem 0;
        padding: 1rem 3rem;
    }

    .contentBox p.description {
        font-family: 'Inter', sans-serif;
        margin: 1rem .5rem;
        font-weight: 300;
    }

    .stats {
        flex-direction: column;
        gap: 0.1rem;
        margin: 0;
        padding: 0;
    }

    .companies,
    .templates,
    .queries {
        margin: .7rem 0;
    }
}

@media all and (max-width: 415px) {
    .mainBackground {
        width: 100%;
        height: 100%;
    }
}

@media all and (max-width: 374px) {
    body {
        display: none;
    }

}